.principia {
  margin: 25px;
}

.categoria-form {
  margin : 20px;
  max-width: 450px;
}

.competidor-form {
  margin : 20px;
  max-width: 450px;
}

.slider-track{
  height: 5px !important;
  background-image: none;
  box-shadow: none;
}

.slider-track-high,.slider-track-low {
  background-color: #e0e0e0;
  top: 3px !important;
  border-radius: 0;
}

.slider-selection {
  background: #3367d6;
  top: 3px !important;
}

.slider-handle {
  background-color: #3367d6;
  background-image: -webkit-linear-gradient(top, #3367d6 0%, #3367d6 100%);
  background-image: -o-linear-gradient(top, #3367d6 0%, #3367d6 100%);
  background-image: linear-gradient(to bottom, #3367d6 0%, #3367d6 100%);
}

.search-bar {
  color: #ffffff !important;
}

.thumbnail {
  text-align: center;
}

.thumbnail img {
  height: 200px;
  width: 200px;
  display: block;
}

.list-competidores {
  width: 66.66%;
  min-width: 400px;
}

.competidor-view {
  width: 66.66%;
  min-width: 400px;
}

.sortorder:after {
  content: '\25b2';
}

.sortorder.reverse:after {
  content: '\25bc';
}

.open {
  display: block !important;
}