.principia {
  margin: 25px;
}

.categoria-form {
  margin : 20px;
  max-width: 450px;
}

.competidor-form {
  margin : 20px;
  max-width: 450px;
}

#idadeSlider .slider-selection {
	background: #BABABA;
}

#graduacaoSlider .slider-selection {
	background: #BABABA;
}

#pesoSlider .slider-selection {
	background: #BABABA;
}

.search-bar {
  color: #ffffff !important;
}

.thumbnail {
  text-align: center;
}

.thumbnail img {
  height: 200px;
  width: 200px;
  display: block;
}

.list-competidores {
  width: 66.66%;
  min-width: 400px;
}

.competidor-view {
  width: 66.66%;
  min-width: 400px;
}

.sortorder:after {
  content: '\25b2';
}

.sortorder.reverse:after {
  content: '\25bc';
}

.open {
  display: block !important;
}