<div>
  <div class="row">
    <!-- telao -->
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/200x200?text=Telão"
             alt="Telao">
        <h3>Telão</h3>
      </a>
    </div>
    <!-- controle do telao -->
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/200x200?text=Controle de Telão"
             alt="Controle de Telao">
        <h3>Controle do Telão</h3>
      </a>
    </div>
    <!-- adminstracao -->
    <div class="col-xs-6 col-md-3">
      <a href="#/admin" class="thumbnail">
        <img src="http://placehold.it/200x200?text=Administração"
             alt="Administracao">
        <h3>Administração</h3>
      </a>
    </div>
    <!-- controle do Aplicação -->
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/200x200?text=Controle da Aplicação"
             alt="Controle da Aplicacao">
        <h3>Controle da Aplicação</h3>
      </a>
    </div>
  </div>
</div>