<div>
  <div class="row">
    <!-- telao -->
    <div class="col-xs-6 col-md-3">
      <a ui-sref="home" class="thumbnail">
        <img ng-src="http://placehold.it/200x200?text=Telão"
             alt="Telao">
        <label>Telão</label>
      </a>
    </div>
    <!-- controle do telao -->
    <div class="col-xs-6 col-md-3">
      <a ui-sref="controle" class="thumbnail">
        <img ng-src="http://placehold.it/200x200?text=Controle de Telão"
             alt="Controle de Telao">
        <label>Controle do Telão</label>
      </a>
    </div>
    <!-- adminstracao -->
    <div class="col-xs-6 col-md-3">
      <a ui-sref="admin" class="thumbnail">
        <img ng-src="http://placehold.it/200x200?text=Administração"
             alt="Administracao">
        <label>Administração</label>
      </a>
    </div>
    <!-- controle do Aplicação -->
    <div class="col-xs-6 col-md-3">
      <a ui-sref="home" class="thumbnail">
        <img ng-src="http://placehold.it/200x200?text=Controle da Aplicação"
             alt="Controle da Aplicacao">
        <label>Controle da Aplicação</label>
      </a>
    </div>
  </div>
</div>