<div>
  <div class="text-center">
    <h3 class="page-header">Gerenciador de Campeonatos ITF</h3>
  </div>
  <div class="row">
    <!-- telao -->
    <div class="col-xs-6 col-md-3">
      <a ui-sref="teloes" class="thumbnail">
        <img ng-src="http://placehold.it/200x200?text=Telões"
             alt="Telões">
        <label>Telões</label>
      </a>
    </div>
    <!-- controle do telao -->
    <div class="col-xs-6 col-md-3">
      <a ui-sref="controle" class="thumbnail">
        <img ng-src="http://placehold.it/200x200?text=Controle de Telões"
             alt="Controle de Telões">
        <label>Controle do Telões</label>
      </a>
    </div>
    <!-- adminstracao -->
    <div class="col-xs-6 col-md-3">
      <a ui-sref="admin" class="thumbnail">
        <img ng-src="http://placehold.it/200x200?text=Administração"
             alt="Administracao">
        <label>Administração</label>
      </a>
    </div>
    <!-- controle do Aplicação -->
    <div class="col-xs-6 col-md-3">
      <a ui-sref="app" class="thumbnail">
        <img ng-src="http://placehold.it/200x200?text=Controle da Aplicação"
             alt="Controle da Aplicacao">
        <label>Controle da Aplicação</label>
      </a>
    </div>
  </div>
</div>