
<div class="competidor-form">
  <div class="form-group">
    <label>Nome:</label>
    <input type="text" ng-model="competidor.nome" class="form-control" placeholder="Nome da equipe" aria-describedby="basic-addon1">
  </div>

  <div class="form-group">
    <label>Academia:</label>
    <input type="text" ng-model="competidor.academia" class="form-control" placeholder="Academia" aria-describedby="basic-addon1">
  </div>
  
  <div class="form-group">
    <label>Pais:</label>
    <select id="country" class="form-control"
            ng-model="competidor.pais" 
            ng-options="pais.name for pais in paises track by pais.code"
            ng-change="paisChangeFn()"></select>
    
  </div>
  
  <div class="form-group">
    <label>Estado:</label>
    <select id="estado" class="form-control"
            ng-disabled="competidor.pais.code != 'BR'" 
            ng-model="competidor.estado" 
            ng-options="estado.name for estado in estados track by estado.code"></select>
  </div>



  <button type="submit" class="btn btn-lg btn-primary">Salvar</button>
  <button type="button" ui-sref="equipes" class="btn btn-lg btn-warning">Cancelar</button>
  
</div>