<div ng-controller="EquipesController" ng-init="viewInit()">
  <ol class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="admin">Admin</a></li>
    <li><a ui-sref="equipes">Equipes</a></li>
    <li class="active">Visualizando {{equipe.nome}}</li>
  </ol>
  <h3>{{equipe.nome}}</h3>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <td>Academia</td>
        <td>{{equipe.academia}}</td>
      </tr>
      <tr>
        <td>Estado/Pais</td>
        <td>{{equipe.estado.name}} {{equipe.pais.name}}</td>
      </tr>
    </table>
  </div>
  <div>
    <a class="btn btn-lg btn-primary" ui-sref="editEquipe({id:equipe._id.$oid})">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
  </div>
</div>