<div ng-controller="CategoriasController" ng-init="initList()">
  <ol class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="admin">Admin</a></li>
    <li class="active">Categorias</li>
  </ol>
  <div>
    <h3 class="page-header">
      Lista de Categorias
      <button class="btn btn-lg btn-danger" ui-sref="newCategoria">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </h3>

    <div class="list-group list-competidores">
      <div class="list-group-item active">
        <input type="text" ng-model="searchtext.nome" class="form-control" placeholder="Busca por nome" aria-describedby="basic-addon1">
      </div>
      <div class="list-group-item">
        <label class="control-label">Ordenar por:&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <label class="checkbox-inline">
          <input type="radio" checked name="optradio" ng-click="order('nome')">Nome
          <span class="sortorder" ng-show="predicate === 'nome'" ng-class="{reverse:reverse}"></span>
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="optradio" ng-click="order('sexo')">Sexo
          <span class="sortorder" ng-show="predicate === 'sexo'" ng-class="{reverse:reverse}"></span>
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="optradio" ng-click="order('graduacao')">Graduação
          <span class="sortorder" ng-show="predicate === 'graduacao'" ng-class="{reverse:reverse}"></span>
        </label>
      </div>
      <div class="list-group-item" ng-repeat="categoria in categorias | filter:searchtext | orderBy:predicate:reverse ">
        <h4 class="list-group-item-heading">
          <a ui-sref="viewCategoria({id:categoria._id.$oid})">
            {{listaFormatos[categoria.formato]}} - {{categoria.nome}} de {{categoria.peso[0]}} ate {{categoria.peso[1]}} Kg
          </a>
        <span class="pull-right">
          <button class="btn btn-lg btn-primary" ui-sref="editCategoria({id:categoria._id.$oid})" >
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-lg btn-warning">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </span>
        </h4>
        <p class="list-group-item-text">
          Idade de {{categoria.idade[0]}} ate {{categoria.idade[1]}} anos - {{parseSexo(categoria.sexo)}}<br />
          Graduação de
          <img ng-src="img/ranks/{{ listaImagens[categoria.graduacao[0] - 1] }}"/>
          {{ listaGraduacoes[categoria.graduacao[0] - 1] }} ate
          <img ng-src="img/ranks/{{ listaImagens[categoria.graduacao[1] - 1] }}"/>
          {{ listaGraduacoes[categoria.graduacao[1] - 1] }}
        </p>
      </div>
    </div>
    
  </div>
</div>