<div ng-controller="CategoriasController" ng-init="viewInit()">
  <ol class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="admin">Admin</a></li>
    <li><a ui-sref="categorias">Categorias</a></li>
    <li class="active">Visualizando {{categoria.nome}}</li>
  </ol>
  <h3>{{categoria.nome}}</h3>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <td>Idade</td>
        <td>
          {{categoria.idade[0]}} ate {{categoria.idade[1]}} anos
        </td>
      </tr>
      <tr>
        <td>Sexo</td>
        <td>{{parseSexo(categoria.sexo)}}</td>
      </tr>
      <tr>
        <td>Graduação</td>
        <td>
          <img ng-src="img/ranks/{{ listaImagens[categoria.graduacao[0] - 1] }}"/>
          {{ listaGraduacoes[categoria.graduacao[0] - 1] }} ate
          <img ng-src="img/ranks/{{ listaImagens[categoria.graduacao[1] - 1] }}"/>
          {{ listaGraduacoes[categoria.graduacao[1] - 1] }}
        </td>
      </tr>
      <tr>
        <td>Peso</td>
        <td>
          {{categoria.peso[0]}} ate {{categoria.peso[1]}} Kg
        </td>
      </tr>
      <tr>
        <td>Disputa</td>
        <td>{{listaFormatos[categoria.formato]}}</td>
      </tr>
    </table>
  </div>
  <div>
    <a class="btn btn-lg btn-primary" ui-sref="editCategoria({id:categoria._id.$oid})">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
  </div>
  <br />
  <div class="list-group list-competidores">
    <div class="list-group-item active">
      <h3 class="list-group-item-heading">Competidores para esta categoria</h3>
    </div>
    <div class="list-group-item" ng-repeat="competidor in competidores">
      <h4 class="list-group-item-heading">
        <a ui-sref="viewCompetidores({id:competidor._id.$oid})">
          {{competidor.nome}} - {{competidor.idade}} anos
        </a>
      </h4>
      <p class="list-group-item-text">
        {{competidor.academia}}
        {{parseEstado(competidor.estado.name)}}
        {{competidor.pais.name}} - {{parseSexo(competidor.sexo)}} - {{competidor.peso}}Kg<br/>
        <img ng-src="img/ranks/{{ listaImagens[competidor.graduacao - 1] }}"/> {{parseGraduacao(competidor.graduacao - 1)}}
      </p>
    </div>
  </div>
</div>