<div ng-controller="CompetidoresController" ng-init="viewInit()">
  <ol class="breadcrumb">
    <li><a ui-sref="welcome">Home</a></li>
    <li><a ui-sref="admin">Admin</a></li>
    <li><a ui-sref="competidores">Competidores</a></li>
    <li class="active">Visualizando {{competidor.nome}}</li>
  </ol>
  <h3 class="inverse">{{competidor.nome}}</h3>
  <div class="table-responsive background-white">
    <table class="table">
      <tr>
        <td>Academia</td>
        <td>{{competidor.academia}}</td>
      </tr>
      <tr>
        <td>Estado/Pais</td>
        <td>{{competidor.estado.name}} {{competidor.pais.name}}</td>
      </tr>
      <tr>
        <td>Idade</td>
        <td>{{competidor.idade}} anos</td>
      </tr>
      <tr>
        <td>Sexo</td>
        <td>{{parseSexo(competidor.sexo)}}</td>
      </tr>
      <tr>
        <td>Graduação</td>
        <td><img ng-src="img/ranks/{{ listaImagens[competidor.graduacao - 1] }}"/> {{parseGraduacao(competidor.graduacao - 1)}}</td>
      </tr>
      <tr>
        <td>Peso</td>
        <td>{{competidor.peso}}Kg</td>
      </tr>
      <tr>
        <td>Disputa</td>
        <td>{{listaFormatos[competidor.formato]}}</td>
      </tr>
    </table>
  </div>
  <div>
    <a class="btn btn-lg btn-primary" ui-sref="editCompetidor({id:competidor._id.$oid})">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
  </div>
</div>