<div ng-controller="CompetidoresController" ng-init="initList()">
  <ol class="breadcrumb">
    <li><a ui-sref="welcome">Home</a></li>
    <li><a ui-sref="admin">Admin</a></li>
    <li class="active">Competidores</li>
  </ol>
  <div>
    <h3 class="page-header">
      Lista de competidores
      <button class="btn btn-lg btn-danger" ui-sref="newCompetidor"
              tooltip-placement="top" tooltip="Novo competidor">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </h3>
  </div>

  <div class="list-group list-competidores">
    <div class="list-group-item active">
      <input type="text" ng-model="searchtext.nome" class="form-control search-bar" placeholder="Buscar pelo nome" aria-describedby="basic-addon1">
    </div>
    <div class="list-group-item">
      <label class="control-label">Ordenar por:&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <label class="checkbox-inline">
        <input type="radio" checked name="optradio" ng-click="order('nome')">Nome
        <span class="sortorder" ng-show="predicate === 'nome'" ng-class="{reverse:reverse}"></span>
      </label>
      <label class="checkbox-inline">
        <input type="radio" name="optradio" ng-click="order('sexo')">Sexo
        <span class="sortorder" ng-show="predicate === 'sexo'" ng-class="{reverse:reverse}"></span>
      </label>
      <label class="checkbox-inline">
        <input type="radio" name="optradio" ng-click="order('graduacao')">Graduação
        <span class="sortorder" ng-show="predicate === 'graduacao'" ng-class="{reverse:reverse}"></span>
      </label>
    </div>
    <div class="list-group-item" ng-repeat="competidor in competidores | filter:searchtext | orderBy:predicate:reverse  ">
      <h4 class="list-group-item-heading">
        <a ui-sref="viewCompetidor({id:competidor._id.$oid})">{{competidor.nome}} - {{competidor.idade}} anos</a>
        <span class="pull-right">
          <button class="btn btn-lg btn-primary" ui-sref="editCompetidor({id:competidor._id.$oid})"
                  tooltip-placement="top" tooltip="Editar">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-lg btn-warning"
                  ng-click="open(competidor)"
                  tooltip-placement="top"
                  tooltip="Remover">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </span>
      </h4>
      <p class="list-group-item-text">
        {{competidor.academia}}
        {{parseEstado(competidor.estado.name)}}
        {{competidor.pais.name}} - {{parseSexo(competidor.sexo)}} - {{competidor.peso}}Kg<br/>
        <img ng-src="img/ranks/{{ listaImagens[competidor.graduacao - 1] }}"/> {{parseGraduacao(competidor.graduacao - 1)}}
         - {{listaFormatos[competidor.formato]}}
      </p>
    </div>
  </div>
  <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-class="dialogClass">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="dialogClass = 'close'" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Confimar Exclusão</h4>
        </div>
        <div class="modal-body">
          <p>Confirma exclusao do competidor?</p>
          <h3>{{exCompetidor.nome}}</h3>
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="dialogClass = 'close'" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" ng-click="delete()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</div>