
<div class="competidor-form">
  <div class="form-group">
    <label>Nome:</label>
    <input type="text" ng-model="competidor.nome" class="form-control" placeholder="Nome e Sobrenome" aria-describedby="basic-addon1">
  </div>

  <div class="form-group">
    <label>Academia:</label>
    <input type="text" ng-model="competidor.academia" class="form-control" placeholder="Academia" aria-describedby="basic-addon1">
  </div>
  
  <div class="form-group">
    <label for="country">Pais:</label>
    <select id="country" class="form-control"
            ng-model="competidor.pais" 
            ng-options="pais.name for pais in paises track by pais.code"
            ng-change="paisChangeFn()"></select>
    
  </div>
  
  <div class="form-group">
    <label for="estado">Estado:</label>
    <select id="estado" class="form-control"
            ng-disabled="competidor.pais.code != 'BR'" 
            ng-model="competidor.estado" 
            ng-options="estado.name for estado in estados track by estado.code"></select>
    
  </div>

  <div class="form-group">
    <label for="nascimento">Data de Nascimento:</label>
    <input type="date" id="nascimento" ng-model="competidor.nascimento" ng-change="nascimentoFn()"/>
  </div>

  <div class="form-group">
    <label>Idade:</label>
    <input type="number" readonly ng-model="competidor.idade" class="form-control" placeholder="Idade" aria-describedby="basic-addon2">
  </div>

  <div class="form-group">
    <label for="sel1">Sexo:</label>
    <select ng-model="competidor.sexo" class="form-control" id="sel1">
      <option value="m">Masculino</option>
      <option value="f">Feminino</option>
    </select>
  </div>

  <div class="form-group">
    <label>Graduação <img ng-src="img/ranks/{{ listaImagens[competidor.graduacao - 1] }}"/> {{ listaGraduacoes[competidor.graduacao - 1] }} </label>
    
    <span slider id="graduacaoSlider"
      ng-model="competidor.graduacao" 
      min="graduacaoOption.min" 
      step="graduacaoOption.step" 
      max="graduacaoOption.max" 
      value="valorGraduacao"
      tooltip="hide">
    </span>
  </div>
  
  <div class="form-group">
    <label>Peso:</label>
    <input type="number" step="any" ng-model="competidor.peso" class="form-control" placeholder="Peso (exemplo 36,6)" aria-describedby="basic-addon2">
  
  </div>
  
  <div class="form-group">
    <label>Categorias:</label>
    <br/>
    <label class="radio-inline"><input ng-model="competidor.formato" ng-value="0" type="radio" name="optradio">Luta</label>
    <label class="radio-inline"><input ng-model="competidor.formato" ng-value="1" type="radio" name="optradio">Forma</label>
    <label class="radio-inline"><input ng-model="competidor.formato" ng-value="2" type="radio" name="optradio">Ambas (Forma e Luta)</label>
  </div>

  <button type="submit" class="btn btn-lg btn-primary">Salvar</button>
  <button type="button" ui-sref="competidores" class="btn btn-lg btn-warning">Cancelar</button>
  
</div>