<div ng-controller="ControleController" ng-init="initControle()">

    <ol class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li class="active">Controle das Chaves</li>
    </ol>

    <h3 class="page-header">Controle do Telão</h3>

    <div class="row">
        <!-- esquerda, lista das categorias -->
        <div class="col-md-6">

            <div class="list-group list-categorias">
                <div class="list-group-item active">
                    <h4 class="list-group-item-heading">
                        Categorias
                    </h4>
                    <input type="text" ng-model="searchtext.nome" class="form-control search-bar" placeholder="Busca por nome" aria-describedby="basic-addon1">
                </div>
                <div class="list-group-item" ng-repeat="categoria in categorias | filter:searchtext ">
                    <h5 class="list-group-item-heading">
                        {{listaFormatos[categoria.formato]}} - {{categoria.nome}} de {{categoria.peso[0]}} ate {{categoria.peso[1]}} Kg
                        <span class="pull-right">
                            <button class="btn btn-lg btn-primary" ng-show="!categoria.ativa">
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                            <button class="btn btn-lg btn-warning" ng-show="categoria.ativa">
                                <span class="glyphicon glyphicon-stop"></span>
                            </button>
                        </span>
                    </h5>
                    <p class="list-group-item-text">
                        Idade de {{categoria.idade[0]}} ate {{categoria.idade[1]}} anos - {{parseSexo(categoria.sexo)}}<br />
                        Graduação de
                        <img ng-src="img/ranks/{{ listaImagens[categoria.graduacao[0] - 1] }}"/>
                        {{ listaGraduacoes[categoria.graduacao[0] - 1] }} ate
                        <img ng-src="img/ranks/{{ listaImagens[categoria.graduacao[1] - 1] }}"/>
                        {{ listaGraduacoes[categoria.graduacao[1] - 1] }}
                    </p>
                </div>
            </div>

        </div>
        <!-- fim esquerda, lista das categorias -->

        <!-- direita, categoria selecionada atual -->
        <div class="col-md-6">

            <div class="list-group list-categorias">
                <div class="list-group-item active">
                    <h4 class="list-group-item-heading">
                        Chaves da Categoria: {{categoriaAtiva}}
                    </h4>
                </div>
                <div class="list-group-item" ng-repeat="competidor in competidores">
                    <div class="row">
                        <div class="col-xs-2">
                            <h4>#1</h4>
                        </div>
                        <div class="col-xs-7">
                            <div class="row cockpit-competidor">
                                <div class="col-xs-5">
                                    <label class="cockpit-nome-competidor">
                                        {{competidor.nome}}
                                    </label>
                                    <div class="row cockpit-valor-competidor">
                                        <div class="col-xs-6">
                                            <span>2</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span class="glyphicon glyphicon-ok blue"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <label>X</label>
                                </div>
                                <div class="col-xs-5">
                                    <label class="cockpit-nome-competidor">
                                        {{competidor.nome}}
                                    </label>
                                    <div class="row cockpit-valor-competidor">
                                        <div class="col-xs-6">
                                            <span>0</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span class="glyphicon glyphicon-remove red"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 pull-right">
                            <button class="btn btn-lg btn-primary" ng-click="open()">
                                <span class="glyphicon glyphicon-cog"></span>
                            </button>
                            <button class="btn btn-lg btn-warning">
                                <span class="glyphicon glyphicon-blackboard"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- fim direita, categoria selecionada atual -->
    </div>


    <!-- dialog -->
    <div class="modal" ng-class="dialogClass">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" ng-click="dialogClass = 'close'" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title">Chave #1</h4>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-xs-5">
                            Competidor Compete Competindo
                        </div>
                        <div class="col-xs-2">
                            <h3>
                                X
                            </h3>
                        </div>
                        <div class="col-xs-5">
                            Competidor Compete Competindo
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-xs-5">
                            <input class="form-control input-lg text-center" type="number" placeholder="Valor"/>
                        </div>
                        <div class="col-xs-2"></div>
                        <div class="col-xs-5">
                            <input class="form-control input-lg text-center" type="number" placeholder="Valor"/>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-xs-5 margin-top-bottom-11">
                            <input ng-value="0" type="radio" name="optradio">
                        </div>
                        <div class="col-xs-2">
                            <h4>
                                Vitória
                            </h4>
                        </div>
                        <div class="col-xs-5 margin-top-bottom-11">
                            <input ng-value="1" type="radio" name="optradio">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">
                        Ok
                    </button>
                    <button type="button" ng-click="dialogClass = 'close'" class="btn btn-danger" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>